##  파이썬에서의 pandas 1, 판다스1
- 작성자: [충남대학교 인공지능학과 장경선](http://www.cnu.ac.kr/~sun)

## pandas
- 데이터셋 (테이블, data frame) 작업에 사용되는 파이썬 라이브러리
- 데이터의 분석, 정제, 탐색, 조작 등 데이터 관련 연산 제공
- Pandas라는 이름은 "Panel Data”와 "Python Data Analysis＂에서 온 말이고, Wes McKinney가 2008년에 지음.
- 평균값, 최소값, 최대값, 행간(변수간) 상관 관계 등을 알 수 있음.
- https://github.com/pandas-dev/pandas. 판다스의 코드 저장소

## pandas 설치와 사용
- 설치
- % pip install pandas
- 사용
- import pandas as pd
- print(pd.__version)

In [ ]:
import pandas as pd
print('pandas version = ', pd.__version__)

mydataset = { 'cars': ["BMW","Volvo","Ford"], 'passings': [3,7,2] }
myvar =pd.DataFrame( mydataset)
print(myvar)

print('cars column =>')
print(myvar['cars'])

print('passings column =>')
print(myvar['passings'])

pandas version =  1.3.5
    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
cars column =>
0      BMW
1    Volvo
2     Ford
Name: cars, dtype: object
passings column =>
0    3
1    7
2    2
Name: passings, dtype: int64

###pandas series, pd.Series(list) 
- 열에 해당함. 
- 열의 각 행의 접근은 index 정의 전에는, 0, 1, 2와 같은 정수로 접근
- index 정의 후에는 index label에 따라 접근가능함.

In [ ]:
import pandas as pd

a = [1, 7, 2, 10, 13, 12]

myvar0 = pd.Series(a) # before setting index

print(f'myvar0=\n{myvar0}')
print(f'myvar0[2]={myvar0[2]}')

myvar = pd.Series(a, index = ["t", "u", "w", "x", "y", "z"])

print(f'myvar=\n{myvar}')
print(f'myvar["w"]=\n{myvar["w"]}')
print(f'myvar[3]=\n{myvar[3]}')

myvar0=
0     1
1     7
2     2
3    10
4    13
5    12
dtype: int64
myvar0[2]=2
myvar=
t     1
u     7
w     2
x    10
y    13
z    12
dtype: int64
myvar["w"]=
2
myvar[3]=
10

###pandas dataframe, pd.DataFrame( data )
- dataset에 해당, 여러 열(변수)로 구성된 table, 
- 열은 series에 해당함.
- 만들기 : pd.DataFrame(data,index,columns) : data는 리스트나 딕셔너리 형태
- index : row labels
- columns : column labels

In [ ]:
# list -> dataframe
import pandas as pd

data1 = [1,2,3,4]
df1 = pd.DataFrame(data1, columns=['v1'],index=['a','b','c','d'])
print(f'df1=\n{df1}')
print(f'df1.index={df1.index}')
print(f'df1.loc[a]=\n{df1.loc["a"]}')
print(f'df1.loc[a][0]=\n{df1.loc["a"][0]}')

print(f'df1["v1"]=\n{df1["v1"]}')
print(f"df1['v1'].loc['a']=\n{df1['v1'].loc['a']}")

df1=
   v1
a   1
b   2
c   3
d   4
df1.index=Index(['a', 'b', 'c', 'd'], dtype='object')
df1.loc[a]=
v1    1
Name: a, dtype: int64
df1.loc[a][0]=
1
df1["v1"]=
a    1
b    2
c    3
d    4
Name: v1, dtype: int64
df1['v1'].loc['a']=
1

## dictionary에서 dataframe 생성하기
- dictionary의 key는 column label로 사용됨.
- row label의 기본값은 0,1,2,3, ...
- row label 지정은  index 인자로 가능함.

In [ ]:
# dictionary to dataframe
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df0 = pd.DataFrame(data) # dictionary has column labels

print(f'df0=\n{df0}')

print(f'df0.loc[0]=\n{df0.loc[0]}')
print(f'df0.loc[0][0]=\n{df0.loc[0][0]}')
print(f'df0.loc[0][1]=\n{df0.loc[0][1]}')
print(f"df0.loc[0]['calories']=\n{df0.loc[0]['calories']}")

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(f'df=\n{df}')

print(f'df.loc["day1"]=\n{df.loc["day1"]}')
# index가 만들어진 후에는, 기본값 0,1,2를 사용하면 오류 발생됨.
#print(f'df.loc[1]=\n{df.loc[1]}')

print(df['calories'])
print(df['duration'])
print(type(df['duration']))
print(df['duration']['day2'])
print(df.loc['day2','duration'])

df0=
   calories  duration
0       420        50
1       380        40
2       390        45
df0.loc[0]=
calories    420
duration     50
Name: 0, dtype: int64
df0.loc[0][0]=
420
df0.loc[0][1]=
50
df0.loc[0]['calories']=
420
df=
      calories  duration
day1       420        50
day2       380        40
day3       390        45
df.loc["day1"]=
calories    420
duration     50
Name: day1, dtype: int64
day1    420
day2    380
day3    390
Name: calories, dtype: int64
day1    50
day2    40
day3    45
Name: duration, dtype: int64
<class 'pandas.core.series.Series'>
40
40

### np.array()로 DataFrame 만들기
- np.array()는 행별로 데이터를 입력함. columns의 수와 한 행에 포함된 원소의 수는 같아야 함. 
### df.loc[] 자유롭게 사용하기

In [ ]:
import numpy as np
import pandas as pd 
df2 = pd.DataFrame(np.array([[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 10],[11,12,13,14]]),
                   columns=['a', 'b', 'c','d'])
print(f'df2==>\n{df2}')
print(f'df2.loc[0]["a"]==>\n{df2.loc[0]["a"]}')
print(f'df2.loc[[0,1],"a"]==>\n{df2.loc[[0,1],"a"]}')
print(f'df2.loc[0:1, "b"]==>\n{df2.loc[0:1, "b"]}')

#column
print(f'df2.loc[:, "b":"c"]==>\n{df2.loc[:, "b":"c"]}')
print(f'df2["b"]==>\n{df2["b"]}')

print(f'df2.loc[0,:]=>\n{df2.loc[0,:]}')
print(f'df2.loc[:, "a":"b"]=>\n{df2.loc[:, "a":"b"]}')

print(f'df2["a"]=>\n{df2["a"]}')
print(f'df2["a"] > 2=>\n{df2["a"] > 2}')
print(f'df2.loc[df2["a"]>2, :]=>\n{df2.loc[df2["a"]>2, :]}')

df2==>
    a   b   c   d
0   1   2   3   4
1   4   5   6   7
2   7   8   9  10
3  11  12  13  14
df2.loc[0]["a"]==>
1
df2.loc[[0,1],"a"]==>
0    1
1    4
Name: a, dtype: int64
df2.loc[0:1, "b"]==>
0    2
1    5
Name: b, dtype: int64
df2.loc[:, "b":"c"]==>
    b   c
0   2   3
1   5   6
2   8   9
3  12  13
df2["b"]==>
0     2
1     5
2     8
3    12
Name: b, dtype: int64
df2.loc[0,:]=>
a    1
b    2
c    3
d    4
Name: 0, dtype: int64
df2.loc[:, "a":"b"]=>
    a   b
0   1   2
1   4   5
2   7   8
3  11  12
df2["a"]=>
0     1
1     4
2     7
3    11
Name: a, dtype: int64
df2["a"] > 2=>
0    False
1     True
2     True
3     True
Name: a, dtype: bool
df2.loc[df2["a"]>2, :]=>
    a   b   c   d
1   4   5   6   7
2   7   8   9  10
3  11  12  13  14

## df.loc[]을 이용한 값의 설정

In [ ]:
import numpy as np
import pandas as pd 
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'],index=['x','y','z'])
print(f'df2=>\n{df2}')

df2.loc['x','a'] = 10
print("df2.loc['x','a'] = 10")

print(f'df2=>\n{df2}')

df2.loc[['x','y'],'b'] = 20
print("df2.loc[['x','y'],'b'] = 20")
print(f'df2=>\n{df2}')

df2.loc[:,'c'] = 30
print("df2.loc[:,'c'] = 30")
print(f'df2=>\n{df2}')

print(f"df2['b'] < 10 =>\n{df2['b'] < 10}")
print(f"df2.loc[df2['b'] < 10] =>\n{df2.loc[df2['b'] < 10]}")

df2.loc[df2['b'] < 10] = 0
print("df2.loc[df2['b'] < 10] = 0")
print(f'df2=>\n{df2}')

#column
print(f"df2['a']=>\n{df2['a']}")

df2=>
   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9
df2.loc['x','a'] = 10
df2=>
    a  b  c
x  10  2  3
y   4  5  6
z   7  8  9
df2.loc[['x','y'],'b'] = 20
df2=>
    a   b  c
x  10  20  3
y   4  20  6
z   7   8  9
df2.loc[:,'c'] = 30
df2=>
    a   b   c
x  10  20  30
y   4  20  30
z   7   8  30
df2['b'] < 10 =>
x    False
y    False
z     True
Name: b, dtype: bool
df2.loc[df2['b'] < 10] =>
   a  b   c
z  7  8  30
df2.loc[df2['b'] < 10] = 0
df2=>
    a   b   c
x  10  20  30
y   4  20  30
z   0   0   0
df2['a']=>
x    10
y     4
z     0
Name: a, dtype: int64

## df.at[i,j] 
- 행, 열 label로 single value에 대한 접근 

##df.head(), df.tail()

In [ ]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30],[30,40,50],[60,70,60],[9,8,7]],
                  index=[4, 5, 6,7,8,9], columns=['A', 'B', 'C'])
print(f'df=\n{df}')
print(f'df.at[4, "B"]=\n{df.at[4, "B"]}')
df.at[4, 'B'] = 100
print(f'df.at[4, "B"]=\n{df.at[4, "B"]}')

print(f'df.head(2)=\n{df.head(2)}')
print(f'df.tail(2)=\n{df.tail(2)}')

df=
    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30
7  30  40  50
8  60  70  60
9   9   8   7
df.at[4, "B"]=
2
df.at[4, "B"]=
100
df.head(2)=
   A    B  C
4  0  100  3
5  0    4  1
df.tail(2)=
    A   B   C
8  60  70  60
9   9   8   7

## df.index, df.columns, df.ndim, df.size, df.shape

In [ ]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30],[30,40,50],[60,70,60],[9,8,7]],
                  index=[4, 5, 6,7,8,9], columns=['A', 'B', 'C'])
print(f'df=\n{df}')
print(df.index)
print(df.columns)
print(df.ndim)
print(df.size)
print(df.shape)

df=
    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30
7  30  40  50
8  60  70  60
9   9   8   7
Int64Index([4, 5, 6, 7, 8, 9], dtype='int64')
Index(['A', 'B', 'C'], dtype='object')
2
18
(6, 3)


## df.append() : insert row to df
- DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=False)[source]¶
- other 인자에 있는 행을 dataframe에 추가, 새로운 오브젝트 리턴.
- other : DataFrame 또는 Series나 dict-like 객체 : 추가할 데이터들을 가리킴
- ignore_indexbool : default False, 참이면, 0,1,2,...,n-1로 레이블링됨.

In [ ]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'), index=['x', 'y'])
print(f"df=>\n{df}")
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'), index=['x', 'y'])

print(f"df2=>\n{df2}")
print(f"df.append(df2)=>\n{df.append(df2)}")

df3 = df.append(df2, ignore_index=True)
print("df3 = df.append(df2, ignore_index=True)")
print(f"df3=>\n{df3}")

# less efficient
df4 = pd.DataFrame(columns=['A'])
print(f"df4=>\n{df4}")

for i in range(5):
    df4 = df4.append({'A': i}, ignore_index=True)
    print("after appending ", i)
    print(f"df4=>\n{df4}")
print(f"df4=>\n{df4}")

# more efficient
df5 = pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],
          ignore_index=True)
print(f"df5=>\n{df5}")

# dict-like 
df6 = df5.append( other={'A':7 }, ignore_index=True)
df6.head(8)

df=>
   A  B
x  1  2
y  3  4
df2=>
   A  B
x  5  6
y  7  8
df.append(df2)=>
   A  B
x  1  2
y  3  4
x  5  6
y  7  8
df3 = df.append(df2, ignore_index=True)
df3=>
   A  B
0  1  2
1  3  4
2  5  6
3  7  8
df4=>
Empty DataFrame
Columns: [A]
Index: []
after appending  0
df4=>
   A
0  0
after appending  1
df4=>
   A
0  0
1  1
after appending  2
df4=>
   A
0  0
1  1
2  2
after appending  3
df4=>
   A
0  0
1  1
2  2
3  3
after appending  4
df4=>
   A
0  0
1  1
2  2
3  3
4  4
df4=>
   A
0  0
1  1
2  2
3  3
4  4
df5=>
   A
0  0
1  1
2  2
3  3
4  4

   A
0  0
1  1
2  2
3  3
4  4
5  7

### df.insert(pos, ...)
- DataFrame.insert(loc, column, value, allow_duplicates=False)[source]
- loc : int, 삽입 인덱스 위치, 값의 범위는 0 <= loc <= len(columns).
- column : str, number, or hashable object, 삽입 열의 이름
- value : int, Series, or array-like, 
- allow_duplicates : bool, optional (열 이름 중복 여부)

In [40]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
print(f'df=>\n{df}')
df.insert(1,'col3',[5,6])
print("df.insert(1,'col3',[5,6])")
print(f'df=>\n{df}')
import numpy as np
c0 = np.array([5,6])
df.insert(0,'col0', c0)
print("df.insert(0,'col0', c0)")
print(f'df=>\n{df}')
print(type(c0))

df=>
   col1  col2
0     1     3
1     2     4
df.insert(1,'col3',[5,6])
df=>
   col1  col3  col2
0     1     5     3
1     2     6     4
df.insert(0,'col0', c0)
df=>
   col0  col1  col3  col2
0     5     1     5     3
1     6     2     6     4
<class 'numpy.ndarray'>

## pd.concat(objs, axis=0, ...)
- pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)
- pd object를 concat 수행 - 정해진 축으로 (기본축은 행 방향으로 접합)
- 접합 축에 따라 계층적 인덱스 추가 가능 : keys 인자 사용
- ignore_index - 기존 index 초기화
- names - 열 이름

In [39]:
# pd.concat( ( ), axis)
import pandas as pd
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
print(f"s1=>\n{s1}")
print(f"s2=>\n{s2}")
print(f"pd.concat([s1, s2])=>\n{pd.concat([s1, s2])}")
print(f"pd.concat([s1, s2], axis=1)=>\n{pd.concat([s1, s2], axis=1)}")
print(f"pd.concat([s1, s2], ignore_index=True)=>\n{pd.concat([s1, s2], ignore_index=True)}")
print(f"pd.concat([s1, s2], keys=['s1','s2'] )=>\n{pd.concat([s1, s2], keys=['s1','s2'] )}")
s1s2 = pd.concat([s1, s2], keys=['s1','s2'])

print("s1s2 = pd.concat([s1, s2], keys=['s1','s2'])")
print(f"s1s2['s1'][0]=>\n{s1s2['s1'][0]}")
print(f"s1s2['s1'][1]=>\n{s1s2['s1'][1]}")

print(f"pd.concat([s1, s2], keys=['s1','s2'], axis=1)=>\n{pd.concat([s1, s2], keys=['s1','s2'], axis=1)}" )

print(f"pd.concat([s1, s2], keys=['s1','s2'], names=['Series name', 'Row ID'] )=>\n{pd.concat([s1, s2], keys=['s1','s2'], names=['Series name', 'Row ID'] )}" )

s1=>
0    a
1    b
dtype: object
s2=>
0    c
1    d
dtype: object
pd.concat([s1, s2])=>
0    a
1    b
0    c
1    d
dtype: object
pd.concat([s1, s2], axis=1)=>
   0  1
0  a  c
1  b  d
pd.concat([s1, s2], ignore_index=True)=>
0    a
1    b
2    c
3    d
dtype: object
pd.concat([s1, s2], keys=['s1','s2'] )=>
s1  0    a
    1    b
s2  0    c
    1    d
dtype: object
<class 'pandas.core.series.Series'>
s1s2 = pd.concat([s1, s2], keys=['s1','s2'])
s1s2['s1'][0]=>
a
s1s2['s1'][1]=>
b
pd.concat([s1, s2], keys=['s1','s2'], axis=1)=>
  s1 s2
0  a  c
1  b  d
pd.concat([s1, s2], keys=['s1','s2'], names=['Series name', 'Row ID'] )=>
Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [51]:
df1 = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
print(f'df1=>\n{df1}')
df2 = pd.DataFrame({'col1': [5, 6], 'col2': [7, 8]})
print(f'df2=>\n{df2}')
print(f"pd.concat([df1,df2],ignore_index=True) => \n{pd.concat([df1,df2],ignore_index=True) }")
print(f"pd.concat([df1,df2],axis=1) => \n{pd.concat([df1,df2],axis=1) }")
print(f"pd.concat([df1,df2]) => \n{pd.concat([df1,df2]) }")

df1=>
   col1  col2
0     1     3
1     2     4
df2=>
   col1  col2
0     5     7
1     6     8
pd.concat([df1,df2],ignore_index=True) =>
   col1  col2
0     1     3
1     2     4
2     5     7
3     6     8
pd.concat([df1,df2],axis=1) =>
   col1  col2  col1  col2
0     1     3     5     7
1     2     4     6     8
pd.concat([df1,df2]) =>
   col1  col2
0     1     3
1     2     4
0     5     7
1     6     8

### df.cummax(), df.cummin(), df.cumsum(), df.cumprod()
- series에 대해서, dataframe의 row에 대해서, 적용
- s.idxmax(), s.idxmin() : index of max/min

In [55]:
s = pd.Series([2, 3, 5, -1, 0])
print(f"s=>\n{s}")

print(f"s.cummax()=>\n{s.cummax()}")
print(f"s.cumsum()=>\n{s.cumsum()}")
print('---\n',s.max(), s.min(), s.sum(), s.mean())
print('---\n',s.idxmax(), s.idxmin())

s=>
0    2
1    3
2    5
3   -1
4    0
dtype: int64
s.cummax()=>
0    2
1    3
2    5
3    5
4    5
dtype: int64
s.cumsum()=>
0     2
1     5
2    10
3     9
4     9
dtype: int64
---
 5 -1 9 1.8
---
 2 3

In [56]:
s = pd.Series([2, np.nan, 5, -1, 0])

print(f"s=>\n{s}")

print(f"s.cummax()=>\n{s.cummax()}")
print(f"s.cummax(skipna=False)=>\n{s.cummax(skipna=False)}")

print('---\n',s.max(), s.min(), s.sum(), s.mean())
print('---\n',s.idxmax(), s.idxmin())

s=>
0    2.0
1    NaN
2    5.0
3   -1.0
4    0.0
dtype: float64
s.cummax()=>
0    2.0
1    NaN
2    5.0
3    5.0
4    5.0
dtype: float64
s.cummax(skipna=False)=>
0    2.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64
---
 5.0 -1.0 6.0 1.5
---
 2 3

In [ ]:
df = pd.DataFrame([[2.0, 1.0],
                   [3.0, np.nan],
                   [1.0, 0.0]],
                   columns=list('AB'))

print(f"df=>\n{df}")

print(df.cummax())
print(df.cummax(axis=1))

print('----\n',df.min())
print('----\n',df.max())
print('----\n',df.idxmin())
print('----\n',df.idxmax())

print('----\n', df.sum(), df.mean())

     A    B
0  2.0  1.0
1  3.0  NaN
2  1.0  0.0
     A    B
0  2.0  1.0
1  3.0  NaN
2  3.0  1.0
     A    B
0  2.0  2.0
1  3.0  NaN
2  1.0  1.0
----
 A    1.0
B    0.0
dtype: float64
----
 A    3.0
B    1.0
dtype: float64
----
 A    2
B    2
dtype: int64
----
 A    1
B    0
dtype: int64
----
 A    6.0
B    1.0
dtype: float64 A    2.0
B    0.5
dtype: float64

### df.add(), df.sub(), df.mul(), df.div()

In [59]:
df = pd.DataFrame({'angles': [0, 3, 4],
                   'degrees': [360, 180, 360]},
                  index=['circle', 'triangle', 'rectangle'])
print(f"df=>\n{df}")
print(f"df+1=>\n{df+1}")
print(f"df.add(1)=>\n{df.add(1)}")
print(f"df.div(10)=>\n{df.div(10)}")
print(f"df/10=>\n{df/10}")

df0 = pd.DataFrame({'angles': [0, 3, 4],
                   'degrees': [360, 180, 360]},
                  index=['circle', 'triangle', 'rectangle'])
print(f'df0=\n{df0}')
print(f'df=\n{df}')
print(f'df + df0=\n{df + df0}' )
print(f'df * df0=\n{df * df0}' )

df=>
           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360
df+1=>
           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361
df.add(1)=>
           angles  degrees
circle          1      361
triangle        4      181
rectangle       5      361
df.div(10)=>
           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0
df/10=>
           angles  degrees
circle        0.0     36.0
triangle      0.3     18.0
rectangle     0.4     36.0
df0=
           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360
df=
           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360
df + df0=
           angles  degrees
circle          0      720
triangle        6      360
rectangle       8      720
df * df0=
           angles  degrees
circle          0   129600
triangle        9    32400
rectangle      16   129600

## dataframe와 행이나 열과 하는  연산. 
- dataframe - row, dataframe - column(pd.Series)

In [63]:
# axis에 따른 뺄셈, list나 Series 와 뺄셈 연산.
# list
print(f'df=\n{df}')
print(f'df - [1, 2]=\n{df - [1, 2]}')

# row index가 같아야 연산 가능. dataframe - column
dfx = df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']),
       axis='index')
print(dfx)

df=
           angles  degrees
circle          0      360
triangle        3      180
rectangle       4      360
df - [1, 2]=
           angles  degrees
circle         -1      358
triangle        2      178
rectangle       3      358
           angles  degrees
circle         -1      359
triangle        2      179
rectangle       3      359

### df.items() : 열 별로 데이터 살펴보기 가능

In [ ]:
df = pd.DataFrame({'species': ['bear', 'bear', 'marsupial'],
                  'population': [1864, 22000, 80000]},
                  index=['panda', 'polar', 'koala'])
for label, content in df.items(): # 열별로 데이터와 컨텐츠 처리 / dict 처리와 같음.
    print(f'label==> \n{label}')
    print(f'content==> \n{content}', sep='\n')
    print('-------------------------------')

label==>
species
content==>
panda         bear
polar         bear
koala    marsupial
Name: species, dtype: object
-------------------------------
label==>
population
content==>
panda     1864
polar    22000
koala    80000
Name: population, dtype: int64
-------------------------------

### df.values, df.dtypes
- df.dtypes : 각 열에 대한 데이터유형 리턴
- df.values : 행별 값을 넘파이 배열로 리턴.

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'species': ['bear', 'bear', 'marsupial'],
                  'population': [1864, 22000, 80000]},
                  index=['panda', 'polar', 'koala'])
print(f'-----\ndf.dtypes=\n{df.dtypes}')

print(f'-----\ndf.values=\n{df.values}')
print( type(df.values))

-----
df.dtypes=
species       object
population     int64
dtype: object
-----
df.values=
[['bear' 1864]
 ['bear' 22000]
 ['marsupial' 80000]]
<class 'numpy.ndarray'>

## df.pop() : 특정 column을 리턴하고, 삭제함.

In [ ]:
df = pd.DataFrame([('falcon', 'bird', 389.0),
                   ('parrot', 'bird', 24.0),
                   ('lion', 'mammal', 80.5),
                   ('monkey', 'mammal', np.nan)],
                  columns=('name', 'class', 'max_speed'))
print('---\n',df.pop('name'))
print('---\n',df)

---
 0    falcon
1    parrot
2      lion
3    monkey
Name: name, dtype: object
---
     class  max_speed
0    bird      389.0
1    bird       24.0
2  mammal       80.5
3  mammal        NaN

## df.where(cond, other=NaN)
- cond가 false인 것은 other 값으로 채움

## df.mask(cond, other=NaN)
- cond가 true인 것은 other 값으로 채움.

In [66]:
s = pd.Series(range(5))
print('---\n',f's=>\n{s}')
print('---\n',f's.where(s > 2)=>\n{s.where(s > 2)}')
print('---\n',f's.where(s > 2,20)=>\n{s.where(s > 2,20)}')

---
 s=>
0    0
1    1
2    2
3    3
4    4
dtype: int64
---
 s.where(s > 2)=>
0    NaN
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64
---
 s.where(s > 2,20)=>
0    20
1    20
2    20
3     3
4     4
dtype: int64

In [69]:
df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
print('-----\n',f'df=>\n{df}')
m = df % 3 == 0
print("m = df % 3 == 0")
print('-----\n',f"df.where(m,-df)=>\n{df.where(m,-df)}")

print('-----\n',f"df.where(m, -df) == np.where(m, df, -df) =>\n{df.where(m, -df) == np.where(m, df, -df)}" )
print('-----\n',f"df.where(m, -df) == df.mask(~m, -df) =>\n{df.where(m, -df) == df.mask(~m, -df)}" )

-----
 df=>
   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9
m = df % 3 == 0
-----
 df.where(m,-df)=>
   A  B
0  0 -1
1 -2  3
2 -4 -5
3  6 -7
4 -8  9
-----
 df.where(m, -df) == np.where(m, df, -df) =>
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
-----
 df.where(m, -df) == df.mask(~m, -df) =>
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True

### pandas.DataFrame.corr(method='pearson')
- column 들간의 correlation 계산,  NA/null값은 제외
-  method{‘pearson’, ‘kendall’, ‘spearman’}
- > pearson : standard correlation coefficient
- > kendall : Kendall Tau correlation coefficient
- > spearman : Spearman rank correlation

In [71]:
df = pd.DataFrame([(.2, .3, .4), (.0, .6, 0.7), (.6, .0, 0.9), (.2, .1, .3)],
                  columns=['dogs', 'cats', 'men'])
print('-----\n',f'df=>\n{df}')
print('-----\n',f"df.corr(method='pearson')=>\n{df.corr(method='pearson')}")
print('----\n',f"df.corr(method='kendall')=>\n{df.corr(method='kendall')}")
print('----\n',f"df.corr().loc['dogs','cats']=>\n{df.corr().loc['dogs','cats']}")
print('----\n',f"df.corr(method='kendall').loc['dogs','cats']=>\n{df.corr(method='kendall').loc['dogs','cats']}")

-----
 df=>
   dogs  cats  men
0   0.2   0.3  0.4
1   0.0   0.6  0.7
2   0.6   0.0  0.9
3   0.2   0.1  0.3
-----
 df.corr(method='pearson')=>
          dogs      cats       men
dogs  1.000000 -0.851064  0.505035
cats -0.851064  1.000000 -0.022875
men   0.505035 -0.022875  1.000000
----
 df.corr(method='kendall')=>
          dogs      cats       men
dogs  1.000000 -0.912871  0.182574
cats -0.912871  1.000000  0.000000
men   0.182574  0.000000  1.000000
----
 df.corr().loc['dogs','cats']=>
-0.8510644963469901
----
 df.corr(method='kendall').loc['dogs','cats']=>
-0.912870929175277

### pd.DataFrame.apply(func, axis=0 )
- funcfunction : 각 column/row에 적용할 함수
-  axis{0 or ‘index’, 1 or ‘columns’}, default 0, 
함수가 적용되는 축
- > 0 or ‘index’: 각 열에 대해 적용 (각 열의 모든 행에 대해서 적용)
- > 1 or ‘columns’: 각 행에 대해 적용

In [72]:
import pandas as pd
import numpy as np
df = pd.DataFrame([(.2, .3, .4), (.0, .6, 0.7), (.6, .0, 0.9), (.2, .1, .3)],
                  columns=['dogs', 'cats', 'men'])
df.corr()
print(f'df=>{df}')
print('---\n',f"df.apply(np.sum, axis=0)=>\n{df.apply(np.sum, axis=0)}" )
print('---\n',f"df.apply(np.mean, axis=1)=>\n{df.apply(np.mean, axis=1)}" )
print('---\n',f"df.apply(np.mean, axis=1)[0:2]=>\n{df.apply(np.mean, axis=1)[0:2]}")

df=>   dogs  cats  men
0   0.2   0.3  0.4
1   0.0   0.6  0.7
2   0.6   0.0  0.9
3   0.2   0.1  0.3
---
 df.apply(np.sum, axis=0)=>
dogs    1.0
cats    1.0
men     2.3
dtype: float64
---
 df.apply(np.mean, axis=1)=>
0    0.300000
1    0.433333
2    0.500000
3    0.200000
dtype: float64
---
 df.apply(np.mean, axis=1)[0:2]=>
0    0.300000
1    0.433333
dtype: float64